<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         processIsolation="false"
         stopOnFailure="false"
         strict="true"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Monolog Extension test suite">
            <directory>./tests/swestcott/MonologExtension/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/swestcott/MonologExtension/</directory>
        </whitelist>
    </filter>
</phpunit>